

.father {
    min-height: 100vh;
    background-color: var(--Gray1);
}

header {
    min-height: 4rem;
    background-color: var(--Blue1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin-left: 7%;
}

header a {
    text-decoration: none;
}

header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin-right: 7%;
}

header .signup {
    background-color: var(--Blue2);
    padding: .5rem 0.7rem;
    border-radius: 5px;
}